appdirs==1.4.3
blinker==1.4
flask==0.12.2==py27_0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24=py27_0
markupsafe==0.23=py27_2
matplotlib==2.0.2=np112py27_0
numpy==1.12.1=py27_0
packaging==16.8=py27_0
pandas==0.20.1=np112py27_0
psycopg2==2.7.1
pyparsing==2.1.4=py27_0
scipy==0.19.0=np112py27_0
seaborn==0.7.1=py27_0
setuptools==27.2.0=py27_1
sqlalchemy==1.1.9=py27_0
Tempita==0.5.2
werkzeug==0.12.2=py27_0
wheel==0.29.0=py27_0
WTForms==2.1
