{% extends "layout.html" %}

{% block content %}
  <h2>About</h2>
  <p>This is an Energy Audit App for Singapore commercial building, created by a MEP Engineer. </p>
  <p>I am constantly updating the app and also making other BIM-enabled productivity tool to benefit the AEC sector.</p>
  <p>Do not hesitate to advise me if you have any suggestion.</p>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>Thanks to the following supportive organizations :</p>
  <span class="image">
    <table align="center">
      <tr>
        <th><img src="../static/img/bca.jpg" style="width: 280px; margin-bottom: 5px; " > </th>
        <th><img src="../static/img/vertex.png" style="width: 180px; margin-bottom: 5px;"></th>
        <th><img src="../static/img/GA.jpg" style="width: 75px; margin-bottom: 5px;"></th>
      </tr>
    </table>
  </span>


    <!-- <div id="picture-container">
      <img id="image1" src="../static/img/bca.jpg" >
      <img id="image2" src="../static/img/vertex.png">
      <img id="image3" src="../static/img/GA.jpg">

    </div> -->

{% endblock %}
